@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Stack+Sans+Headline:wght@200..700&display=swap');

:root {
    --cinza-escuro: #2b2d42ff;
    --cinza-claro: #8d99aeff;
    --branco: #edf2f4ff;
    --vermelho: #ef233cff;
    --preto:#000000;
    --titulo:"Stack Sans Headline", sans-serif;
    --texto:"EB Garamond", serif;
}

body{
    background-color: var(--cinza-claro);
    font-family: var(--texto);
    margin: 0;
    padding: 0;
    color: var(--preto)
}
header{
    background-color: var(--cinza-escuro);
    padding: 20px;
    text-align: center;
    color: var(--branco);
    font-family: var(--titulo);
}
img{
    width: 50%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px var(--cinza-escuro);
}
.principal{
    padding: 5em 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.poema.ativo{
    display: block;
}
.poema{
    display: none;
}

.poema h3{
    font-family: var(--titulo);
    font-size: 2.5em;
}

.poema h4{
    font-size: 0.5;
    font-style: italic;
}

.poema p{
    font-size: 1.5em;
    padding: 5px 33%;
}
button{
    padding: 1em;
    background-color: var(--cinza-escuro);
    font-family: var(--titulo);
    font-size: 1em;
    border: none;
    border-radius: 5px 5px 0 5px;
    color: var(--branco);
}

button:hover{
    background-color: var(--vermelho);
    transition: 0.5s;
    cursor: pointer;
}
